  @mixin general-body-layout(){
      background-color:#282c34;
      color: white;
      max-width:100%
      h1 {
        font-size: 40px;
        text-align: center;
      }
      a {
        color: white;
      }
  }
 
html{
  @include general-body-layout();
}

// .posts-page{
//   @include general-body-layout();
// }

// .users-page {
//   @include general-body-layout();

// }

#Users-Posts-Container{
  display:flex;
  width: 70vw;
  flex-wrap: wrap;
}

.indvidual-Image{
  width: 20vw;
}

// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
//   background-color: $backgroundColor;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
